{%load static%}
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Django Basics To Advance</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href={% static "/css/style.css" %}/> 
		<link rel="stylesheet" href={% static "/css/footer.css"%}/>
		<link rel="stylesheet" href={% static "/css/contact.css"%}/>
		<link rel="stylesheet" href={% static "/css/form.css"%}/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
	</head>
	<body>
		<nav>
			<input type="checkbox" id="check" />
			<label for="check" class="checkbtn">
				<i class="fas fa-bars"></i>
			</label>
			<label class="logo">Django</label>
			<ul>
				<li><a class="{% if request.path == '/' %}active{% endif %}" href={% url "home" %}>Home</a></li>
				<li><a class="{% if request.path == '/about-us/' %}active{% endif %}" href={% url "about" %}>About</a></li>
				{% url 'course' as url%}
				<li><a class="{% if request.path == url %}active{% endif %}" href={{url}}>Courses</a></li>
				{% url 'contact' as url%}
				<li><a class="{% if request.path == url %}active{% endif %}" href={{url}}>Contact</a></li>
				{% url 'form' as url%}
				<li><a class="{% if request.path == url %}active{% endif %}" href="{{url}}">Use-Form</a></li>
			</ul>
		</nav>
	</body>
</html>
